*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}
html{
    scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  

}

a{
  text-decoration: none;
}

@keyframes frade{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}